@media screen and (max-width: 1050px) {
  .background-img{
    background-image: none;

  }
  .background{
    display: block;
    z-index: -100;
    width: 100vw;
    height: 590vh;
    position: absolute;
  }
}
