@media screen and (max-width: 1050px) {
  .footer{
    height: 100vh;
    width: 100vw;
    align-items: center;
  }
  .footer-container{
    width: 100%;
    height: 100%;
    flex-flow: column;
  }
  .logo{
    width: 50vh;
    padding-top: 0;
    padding-left: 0;
  }
  .logo-list-container{
    width: 100vw;
    height: 30vh;
    margin: 0;
  }
  .social-media-container{
    width: 100%;


  }
  .social-media{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .social-media-item{
    padding-right: 1vw;
  }
}

}
/* .logo-list-container{
  width: 60vw;
  height: 30vh;
}
.social-media-container{
  width: 40vw;
  height: 30vh;
}
.line{
  height: 5vh;
  border-bottom: 1px solid black;
}
.copywrite{
  text-align: right;
  height: 5vh;
  padding-right: 10%;
}
.logo{
  width: 50vh;
  padding-top: 5vh;
  padding-left: 10vh;
}
.list-container{
  padding-left: 12vh;
}
.social-media{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 5vw;
}
.social-media-item{
  padding-right: 1vw;
}
.footer-links{
  list-style-type: none;
}
.footer-links li{
  letter-spacing: 1vh;
  font-size: 1.3em;
  padding-top: 2vh;
} */
