@media screen and (max-width: 1050px) {
  .first-text {
    /* border: 3px solid red; */
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    order: 2;
  }

  .center-text {
    /* border: 3px solid yellow; */
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    order: 1;
  }

  .second-text {
    /* border: 3px solid green; */
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    order: 1;
  }

  .inner-text-div {
    /* border: 3px solid black; */
    height: 100%;
    width: 52%;
    font-size: 36px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inner-text-div.center {
    font-size: 48px;
  }
}
