@media screen and (max-width: 1050px) {

  .intro {
    height: 127vh;
  }

  .pictures {
    display: none;
  }

  .text-container {
    height: 72vh;
  }

  .text {
    text-align: left;
    width: 90%;
  }

  .text p:nth-of-type(1) {
    order: 2;
  }

  .text p:nth-of-type(2) {
    order: 1;
  }

  .text p:nth-of-type(3) {
    order: 3;
  }

  .intro-mobile-img {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .intro-mobile-img img {
    justify-content: center;
    height: 100%;
    width: 90%;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
