@media screen and (max-width: 1050px) {
  .video-container{
    display: flex;
    flex-flow: column;
  }
  .video{
    /* height: 25vh;
    width: 100vw; */
    padding: 0;
    border: none;
    margin-top: 6vh;
  }
  .video-text{
    display: flex;
    justify-content: center;
    font-size: 3vh;
    margin: 0;
  }
  .video-text p{
    width: 80vw;
  }
  .video-headline{
    display: none;
  }
}
