@media screen and (max-width: 1050px) {
  .electronics{
    height: 70vh;
    background-size: contain;
  }
  .electronics-top-text{
    font-size: 3.5vh;
    width: 100%;
    padding-top: 0;
  }
  .electronics-bottom-text{
    font-size: 3.5vh;
    width: 100%;
    padding-bottom: 0;
  }
}
