.footer{
  height: 40vh;
  background-color: #DFE8F0;
  display: flex;
  flex-flow: column;
}
.footer-container{
  display: flex;

}
.logo-list-container{
  width: 60vw;
  height: 30vh;
}
.social-media-container{
  width: 40vw;
  height: 30vh;
}
.line{
  height: 5vh;
  border-bottom: 1px solid black;
}
.copywrite{
  text-align: right;
  height: 5vh;
  padding-right: 10%;
}
.logo{
  width: 50vh;
  padding-top: 5vh;
  padding-left: 10vh;
}
.list-container{
  padding-left: 12vh;
}
.social-media{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 5vw;
}
.social-media-item{
  padding-right: 1vw;
}
.footer-links{
  list-style-type: none;
}
.footer-links li{
  letter-spacing: 1vh;
  font-size: 1.3em;
  padding-top: 2vh;
}
