*{
  margin: 0px;
  padding-top: 0px;
  font-family: 'Quicksand', sans-serif;
  font-style: 100;
}
.background-img{
  background-image: url("../../assets/icons/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-origin:border-box;
}
.background{
  display: none;
}
