.intro {
  height: 160vh;
  width: 100vw;
}

.pictures {
  height: 80vh;
  width: 100%;
  position: relative;
}

.left-img-div img {
  position: absolute;
  top: 48%;
  left: 29%;
  transform: translate(-50%, -50%);
  height: 57vh;
  width: 47vw;
  object-fit: cover;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.right-img-div img {
  object-fit: cover;
  position: absolute;
  top: 65%;
  left: 71%;
  transform: translate(-50%, -50%);
  height: 57vh;
  width: 47vw;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.text-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  width: 45%;
  font-size: 3vh;
  font-weight: 100;
}

.bigger {
  font-size: 4vh;
  font-weight: 400;
}

.text p:nth-of-type(1) {
  order: 1;
}

.text p:nth-of-type(2) {
  order: 2;
}

.text p:nth-of-type(3) {
  order: 3;
}

.intro-mobile-img {
  display: none;
}
