/* GALLERY SLIDER- */
@media screen and (min-width: 768px) {

    .gallery-slider {
      height: 110vh;
      width: 100vw;
      position: relative;
    }

    .slider-mobile {
        display: none !important;
    }

    .slider-desktop {
        position: relative;
    }

    .slider-desktop img {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }

    .slider-desktop .slide-left {
        position: absolute;
        top: 50%;
        left: 3%;
        z-index: 2;
        height: 70px;
        width: 50px;
        cursor: pointer;
    }

    .slider-desktop .slide-right {
        position: absolute;
        top: 50%;
        right: 3%;
        z-index: 2;
        height: 70px;
        width: 50px;
        transform: rotate(180deg);
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {

    .slider-desktop {
        display: none !important;
    }

    .slider-mobile {
      position: relative;
    }

    .dot-slider {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      display: flex;
      flex-direction: row;
    }

    .dot-slider li button {
      text-indent: -9999px;
    }

    /* .dot-slider li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
    }

    .dot-slider li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
    }

    .dot-slider li button:before {
      content: '•';
      font-size: 22px;
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      text-align: center;
      opacity: .25;
      color: black;
    } */

}
/* END GALLERY SLIDER- */
