/* GALLERY SLIDER- */
@media screen and (min-width: 768px) {

    .gallery-slider {
      height: 100vh;
      width: 100vw;
      position: relative;
    }

    .slider-mobile {
        display: none !important;
    }

    .slider-desktop {
        position: relative;
    }

    .slider-desktop img {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }

    .slider-desktop .slide-left {
        position: absolute;
        top: 50%;
        left: 3%;
        z-index: 2;
        height: 70px;
        width: 50px;
        cursor: pointer;
    }

    .slider-desktop .slide-right {
        position: absolute;
        top: 50%;
        right: 3%;
        z-index: 2;
        height: 70px;
        width: 50px;
        transform: rotate(180deg);
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {

    .slider-desktop {
        display: none !important;
    }

    .gallery-slider {
      height: 100vh;
      width: 100vw;
      position: relative;
    }

    .slider-mobile {
        position: relative;
    }

    .slider-mobile img {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }

    .slider-mobile .slide-left {
        position: absolute;
        top: 50%;
        left: 3%;
        z-index: 2;
        height: 60px;
        width: 40px;
        cursor: pointer;
    }

    .slider-mobile .slide-right {
        position: absolute;
        top: 50%;
        right: 3%;
        z-index: 2;
        height: 60px;
        width: 40px;
        transform: rotate(180deg);
        cursor: pointer;
    }
}
/* END GALLERY SLIDER- */
